body {
    width: 1438px;
    margin: 0px;
}

header {
    height: 82px;
}

nav {
    height: inherit;
}

.nav-list {
    height: inherit;
    background-color: rgba(19, 19, 19, 1);
    display: flex;
    flex-direction: row;
}

.nav-list > li {
    
}